body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



.head-container {
    background-color: #2D25A0;
    height: 657px;
}

/*  Navbar styles */

.navbar {
    display: flex;
    margin-left: 156px;
    padding-top: 43px;
    margin-right: 124px;
    justify-content: space-between;
    align-items: center;


}


.navlinks a {
    font-size: 16px;
    margin-right: 36px;
    text-decoration: none;
    color: white;

}

.login a {
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 8px 24px;


}

.login a:hover {
    color: rgb(3, 10, 1);
    background-image: linear-gradient(rgba(233, 129, 60, 0.815), rgb(241, 131, 131));
    transition: 1s ease;
}



.login i {
    margin-right: 12px;
}

/*Header Title  */
.header-info {
    display: flex;
    margin-top: 67px;
    margin-left: 156px;

}

.forpad {
    padding-top: 60px;
}

.title h1 {

    font-size: 56px;
    line-height: 20px;
    font-weight: 700;
    color: white;
}



.live a {
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
}

.live a:hover {
    color: rgb(3, 10, 1);
    background-image: linear-gradient(rgba(233, 129, 60, 0.815), rgb(241, 131, 131));
    transition: 1s ease;
}

.live i {
    padding-left: 8px;
}

.image img {
    margin-left: 102px;

    width: 486px;
    height: 408px;

}

.image img:hover {
    width: 586px;
    height: 508px;
    transition: 1s ease;

}

/* Players */
.players-container {

    display: flex;
    justify-content: center;
    align-items: center;

}

.players {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;


}

.solo-player {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 350px;
    height: 490px;

}

.solo-player h1,
p {
    margin-top: 16px;
    padding-left: 15px;
}

.solo-player h1 {
    margin-top: -10px;
    font-weight: 700;
}

.solo-player p {
    margin-top: 10px;

    color: #6C6C6C;
    font-size: 16px;
}

.solo-player img {
    padding: 15px;
    width: 320px;
    height: 266px;

}

/* Highlights  */
.highlight {
    display: flex;
    margin-top: 150px;
    margin-right: 90px;
    margin-left: 10%;
}

.highlight-info {

    margin-right: 2px;
    margin-top: 50px;
}

.highlight-info p {
    margin-left: -15px;
    padding-bottom: 15px;
    color: #6C6C6C;
    font-size: 15px;
    width: 70%;
}

.highlight-info a {
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
}

.highlight-info a:hover {
    color: rgb(3, 10, 1);
    background-image: linear-gradient(rgba(233, 129, 60, 0.815), rgb(241, 131, 131));
    transition: 1s ease;
}

.info-title {
    line-height: 15px;
    font-weight: 700;
    font-size: 34px;
}

.highlight-image img {
    width: 537px;
    height: 397px;

}

/* gallery */
.gallery-container {
    margin-top: 50px;
}

.gallery-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    padding-left: 10px;
}

.photo-album1 {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;

}

.photo-row1 img {
    width: 440px;
    height: 300px;
}

.photo-album2 {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.photo-row2 img {
    width: 260px;
    height: 200px;
}

/* tournament summary */

.summary-container {
    margin-top: 150px;
}

.summary-container h1 {
    font-weight: 700;
    font-size: 48px;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary {

    display: flex;
    justify-content: space-between;
    margin: 0 10%;

}

.summary-heading {
    padding-bottom: 15px;
}

.moments {
    border: 1px solid rgb(243, 241, 241);
    border-radius: 5px;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);


}

.moments p {
    font-size: 12px;
    color: #6C6C6C;
    margin: 0;

}

.moments h3 {
    font-size: 16px;
    line-height: 5px;
    padding: 0 15px;
}

.moments img {
    width: 250px;
    height: 250px;
    margin: 15px 15px;
    border: 1px solid grey;
    border-radius: 5px;

}

/* Footer */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 60px
}

.logos img {
    width: 480px;
    height: 110px;
}



.icons i {
    color: #969BAB;
    margin: 0 5px;
    padding: 10px;
    background-color: rgb(230, 225, 225);
    border: 1px solid rgb(230, 225, 225);
    border-radius: 50%;




}

.copyright {
    margin-top: 20px;
}

/*        Media query             */
@media only screen and (max-width:400px) {

    /* head section media query */
    header {
        display: none;
    }

    .header-info {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    .forpad h1 {
        margin-left: 16px;
        font-size: 36px;
        line-height: 30px;
    }

    .live a {
        margin-left: 16px;
    }

    .image img {
        margin: 0;
        padding-top: 50px;
        height: 260px;
        width: 330px;
        margin-left: 15px;
    }

    /* Players */
    .players {
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;

    }

    /* Highlight */
    .highlight {
        flex-direction: column;
        width: 100%;
        margin: 0;

    }

    .highlight-info {
        padding: 20px;
    }

    .highlight-image img {
        width: 368px;
        height: 248px;
        margin: 16px;

    }

    .info-title {

        font-size: 20px;
        line-height: 20px;
    }

    /* Gallery */
    .gallery-container h1 {
        font-size: 36px;
    }

    .photo-album1 {
        flex-direction: column;

    }

    .photo-row1 img {
        width: 368px;
        height: 248px;
        margin: 5px;
    }

    .photo-album2 {
        flex-direction: column;

    }

    .photo-row2 img {
        width: 368px;
        height: 248px;
        margin: 5px;
    }

    /* summary */


    .summary-container h1 {
        padding-left: 0;
        font-size: 28px;
    }

    .summary {
        flex-direction: column;

    }

    .moments {
        margin-bottom: 10px;
    }

    .footer-container {
        margin: 0;
        width: 100%;
    }

    .logos img {
        width: 300px;
        padding-bottom: 30px;
    }

    .icons {
        padding-bottom: 20px;

    }

    .coppyright {
        padding-bottom: 180px;
    }


}