body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



.head-container {
    background-color: #2D25A0;
    height: 677px;
}

/*  Navbar styles */

.navbar {
    display: flex;
    margin-left: 156px;
    padding-top: 43px;
    margin-right: 124px;
    justify-content: space-between;
    align-items: center;


}


.navlinks a {
    font-size: 16px;
    margin-right: 36px;
    text-decoration: none;
    color: white;

}

.login a {
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 8px 24px;


}

.login i {
    margin-right: 12px;
}

/*Header Title  */
.header-info {
    display: flex;
    margin-top: 67px;
    margin-left: 156px;

}

.forpad {
    padding-top: 60px;
}

.title h1 {

    font-size: 34px;
    line-height: 20px;
    font-weight: 700;
    color: white;
}



.live a {
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
}

.live i {
    padding-left: 8px;
}

.image img {
    margin-left: 102px;

    width: 556.01px;
    height: 438px;

}

/* Players */
.players-container {

    display: flex;
    justify-content: center;
    align-items: center;

}

.players {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 10%;


}

.solo-player {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 260px;
    height: 420px;

}

.solo-player h1,
p {
    margin-top: 16px;
    padding-left: 15px;
}

.solo-player h1 {
    font-weight: 700;
}

.solo-player p {
    margin-top: 10px;

    color: #6C6C6C;
    font-size: 16px;
}

.solo-player img {
    padding: 15px;
    width: 230px;
    height: 196px;

}

/* Highlights  */
.highlight {
    display: flex;
    margin-top: 150px;
    margin-right: 116px;
    margin-left: 10%;
}

.highlight-info {
    margin-right: 66px;
    margin-top: 50px;
}

.highlight-info p {
    margin-left: -15px;
    padding-bottom: 15px;
    color: #6C6C6C;
    font-size: 15px;
}

.highlight-info a {
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
}

.info-title {
    line-height: 15px;
    font-weight: 700;
    font-size: 24px;
}

.highlight-image img {
    width: 437px;
    height: 327px;

}